# Игнорировать все файлы в папке logs
logs/*

# Но сохранить саму папку logs (опционально)
!logs/.gitkeep

# Игнорировать Python cache файлы
__pycache__/
*.py[cod]

# Игнорировать все файлы в папке models
models/*

# Но НЕ игнорировать файлы, начинающиеся на cbu_ и заканчивающиеся на .pth
!models/cbu_*.pth